#wrapper {
    width: 1280px;
    height: 960px;
}
#nav {
    background-color: black;
    overflow: hidden;
    text-align: center;
    font-size: 30px;
    padding: 10px;
}
/* mouse over link */
a:hover {
    color: aliceblue;
}
