#wrapper {
    width: 1280px;
    height: 1050px;
}
#nav {
    background-color: black;
    overflow: hidden;
    text-align: center;
    font-size: 30px;
    padding: 10px;
}
/* mouse over link */
a:hover {
    color: aliceblue;
}
#table {
    border: 1px solid;
    text-align: left;
    margin-left: 550px;
    padding: 5px;
    margin-top: 5px;
    
    
}
th, td {
    padding: 5px;
    border: 1px solid;
}
#education {
    text-align: center;
}
#personal {
    text-align:center;
    
}
#header {
        font-size: 50px;
        text-align: center;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-style: italic;
}
hr {
    width: 950px;
    background-color: black;
    border: 1px solid;
    border-color: grey;
}
