#wrapper {
    width: 1280px;
    height: 960px;
}
#nav {
    background-color: black;
    overflow: hidden;
    text-align: center;
    font-size: 30px;
    padding: 10px;
}
/* mouse over link */
a:hover {
    color: aliceblue;
}
#table {
    border: 1px solid;
    text-align: left;
    margin-left: 550px;
    padding: 5px;
    margin-top: 5px;
    
    
}
th, td {
    padding: 5px;
    border: 1px solid;
}
#education {
    text-align: center;
}
#personal {
    text-align: center;
}

